[Unit]
Description=the House CGI service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=house
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OTHEROPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/default/housecgi
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/sysconfig/housecgi
ExecStart=/usr/local/bin/housecgi $HTTPOPTS $HOUSEOPTS $OTHEROPTS $OPTS

[Install]
WantedBy=multi-user.target

